---
# https://www.cnblogs.com/__tudou__/p/13322854.html#%E4%BD%BF%E7%94%A8clang-format%E6%96%87%E4%BB%B6
# 语言: None, Cpp, Java, JavaScript, ObjC, Proto, TableGen, TextProto
Language:	Cpp
# 连续声明时，对齐所有声明的变量名
AlignConsecutiveDeclarations:	true
# 水平对齐二元和三元表达式的操作数
AlignOperands:	true
# 允许函数声明的所有参数在放在下一行
AllowAllParametersOfDeclarationOnNextLine:	true
# 总是在template声明后换行
AlwaysBreakTemplateDeclarations: true
# 延续的行的缩进宽度
ContinuationIndentWidth:	2
# 构造函数的初始化列表的缩进宽度
ConstructorInitializerIndentWidth:	2